/*global font style*/
*, h1, h2, h3, h4, h5, p, .appmax-about-right-content p, .appmax-heding-title p, label, ::placeholder {
    font-family: 'Tajawal', sans-serif;
}
/*global font style*/

/******************** start of header *********************/


/*****start of dropdown languages*****/
#appmax-header .col-lg-4.col-md-3
{
    left: 0;
    direction: ltr;
}

.fixed-header .dropdown .btn-secondary
{
    direction: rtl;
}

.fixed-header .dropdown-toggle::after {
    right: 3px !important;
}

.fixed-header .dropdown-menu {
    left: -15px !important;
}
/*****end of dropdown languages*****/

/***** start header menu *****/
/*mobile-menu*/
.mobile-menu-footer .menu-logo-box {
    right: 5px;
    text-align: right;
}

.mobile-menu-footer .menu-copyrights {
    left: 5px;
    text-align: left;
}
/*mobile-menu*/
/***** end header menu *****/
/******************** end of header *********************/


/********************* start fixed-btn *********************/
.fixed-btn {
    right: 100px;
}

    .fixed-btn img {
        right: 50%;
        -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
/********************* end fixed-btn ***********************/



/******************** start video and features container ********************/
/********* start sm-video *********/
#video-laptop iframe {
    right: 0;
}
/******** end sm-video **********/


/********* start system features **********/
.appmax-heding-title img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.appmax-feature-animate-frame {
    right: 0;
}

.appmax-feature-animate-slider.owl-carousel .owl-stage-outer {
    direction: ltr;
}

.appmax-feature-animate-frame .feature-item p,
.appmax-feature-animate-frame .feature-item h2 {
    direction: rtl;
}

    .appmax-feature-animate-frame .feature-item h2:before,
    .appmax-feature-animate-frame .feature-item h2:after {
        right: 50%;
    }

    .appmax-feature-animate-frame .feature-item h2:before {
        -webkit-transform: translate(70%, -10px);
        -ms-transform: translate(70%, -10px);
        transform: translate(70%, -10px);
    }

    .appmax-feature-animate-frame .feature-item h2:after {
        -webkit-transform: translate(-140%, -10px);
        -ms-transform: translate(-140%, -10px);
        transform: translate(-140%, -10px);
    }
/******** end system features *********/
/******************** end video and features container  ********************/


/******** start system images *********/
.swiper-button-prev {
    right: -60px;
    left: auto;
}

.swiper-button-next {
    left: -60px;
    right: auto;
}
/******** end system images *********/


/******************** start appmax-user-review-area ********************/
.appmax-v2 .appmax-user-review-area .swiper-slide:before,
.appmax-v2 .appmax-user-review-area .swiper-slide:after {
    right: 50%;
}

.appmax-v2 .appmax-user-review-area .swiper-slide:before {
    -webkit-transform: translate(50%, -70%);
    -ms-transform: translate(50%, -70%);
    transform: translate(50%, -70%);
}

.appmax-v2 .appmax-user-review-area .swiper-slide:after {
    -webkit-transform: translate(50%, -85%);
    -ms-transform: translate(50%, -85%);
    transform: translate(50%, -85%);
}

.user-review-content {
    direction: rtl;
}

    .user-review-content img {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

.swiper-btn-prev img,
.swiper-btn-next img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
/******************** end appmax-user-review-area ********************/



/******************** start clients slider ********************/
.slick-slider {
    direction: ltr;
}
/******************** end clients slider ********************/



/******************** start plans area ********************/
.nav-pills .nav-link {
    border-left: none;
}

    .nav-pills .nav-link:last-child {
        border-left: 1px solid #C4C4C4 !important;
    }


/******************** end plans area ********************/



/******************** start certificates section ********************/
.middle-icn {
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.certificates .image-box:hover .middle-icn img {
    -webkit-transform: translate(-5%, 45%);
    -ms-transform: translate(-5%, 45%);
    transform: translate(-5%, 45%);
}

/* The Modal (background) */
.modal {
    right: 0;
}

/* Modal Content */
.close {
    left: 100px;
}

.next {
    left: -80px;
}

.prev {
    right: -80px;
}
/******************** end certificates section ********************/


/******************* start media query *********************/
@media only screen and (min-width: 992px) {
    /*header*/
    .fixed-header .big-header-menu {
        right: 50%;
        transform: translateX(50%);
    }

    .fixed-header .appmax-header-menu ul li {
        -webkit-transform: skew(25deg);
        -ms-transform: skew(25deg);
        transform: skew(25deg);
    }

        .fixed-header .appmax-header-menu ul li .inside-li {
            -webkit-transform: skew(-25deg);
            -ms-transform: skew(-25deg);
            transform: skew(-25deg);
        }

    .appmax-header-logo {
        right: 0;
    }
    /*header*/
}

@media only screen and (max-width: 1199px) {
    /******** system images *********/
    .swiper-button-prev {
        right: -20px;
    }

    .swiper-button-next {
        left: -20px;
    }
    /******** system images *********/
}

@media only screen and (max-width: 991px) {
    /*header*/
    .menu-toggle
    {
        right: 30px !important;
        left: auto !important;
    }
    /*header*/

    /*fixed-btn*/
    .fixed-btn {
        right: 20px;
    }
    /*fixed-btn*/

    /*video-features-container*/
    /*features section*/
    .first-feature-container::before,
    .second-feature-container::before {
        right: 58px;
    }

    .appmax-feature-single-item {
        text-align: right;
    }

    .appmax-feature-item h2 {
        justify-content: left;
    }

    .appmax-feature-item .small-con {
        padding-right: 70px;
    }
    /*features section*/
    /*video-features-container*/

    /******start plans area*******/
    /*mobile prices choices*/
    .mobile-prices-choices .students-num {
        text-align: left;
    }
    /*mobile prices choices*/

    /*mobile prices*/
    .mobile-prices-features .one-feature > div:first-child {
        border-left: 1px solid #CBCDD5;
        text-align: right;
    }
    /*mobile prices*/
    /******end plans area*****/

    /*certificates*/
    #myModal .close {
        left: 30px;
    }
    /*certificates*/

    /*footer*/
    .appmax-fotter-item p.place {
        float: right;
        padding-right: 150px;
    }

    .appmax-fotter-item p.phone {
        float: left;
        padding-left: 150px;
    }
    /*footer*/
}

@media only screen and (max-width: 767px) {
    /* certificates */
    #myModal .next {
        left: -50px;
    }

    #myModal .prev {
        right: -50px;
    }
    /* certificates */

    /*footer*/
    .appmax-fotter-item p.place {
        padding-right: 100px;
    }

    .appmax-fotter-item p.phone {
        padding-left: 100px;
    }
    /*footer*/
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .mobile-prices-choices .dropdown .btn-secondary {
        float: right;
    }
}

@media only screen and (max-width: 575px) {
    /*header*/
    .appmax-header-menu {
        right: auto;
        ;
        border-top-left-radius: 50px;
    }

        .appmax-header-menu.closed {
            right: -100%;
        }

        .appmax-header-menu.opened {
            right: 0;
        }

    .mobile-menu-footer .menu-logo-box {
        right: 5px;
    }

    .mobile-menu-footer .menu-copyrights {
        left: 5px;
    }
    /*header*/

    /*features-section*/
    .first-feature-container,
    .second-feature-container {
        padding-right: 0;
    }

        .first-feature-container::before,
        .second-feature-container::before {
            right: 43px;
        }
    /*features-section*/
    /*video-features-section*/

    /*certificates*/
    #myModal .next {
        left: -30px;
    }

    #myModal .prev {
        right: -30px;
    }
    /*certificates*/


    /*footer*/
    .appmax-fotter-item p.place {
        padding-right: 0;
    }

    .appmax-fotter-item p.phone {
        padding-left: 0;
    }
    /*footer*/
}

@media only screen and (max-width: 479px) {
    /******** system images *********/
    .swiper-button-prev {
        right: 0;
    }

    .swiper-button-next {
        left: 0;
    }
    /******** system images *********/
}
/******************* end media query *********************/
